*{
    box-sizing: border-box;
    margin: 0;
}
img{
max-width: 100%;
}
header{
   height: 20vh;  
   background-image: url(../Images/header.png);
   max-height: 100%;
   background-position: center;
   background-size: cover;
 }
 #contactus{
    background-image: url(../Images/contactbgphone.png);
    background-position: center;
    background-size: cover;
    height: 150vh;
 }
footer{
    background-image: url(../Images/PHONEFOOTER.png);  
    height: 50vh;
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 footer div{
     display: flex;
 }
