*{
    box-sizing: border-box;
    margin: 0;
}
img{
max-width: 100%;
}
/*header{
    position: relative;
}*/
header img{
    width: 100vw;
    position: relative;
}
#header{
    position: absolute;
    top: 10px;
    color: white;
    width: 90vw;
    display: flex;  
 }
.fa-ellipsis-vertical{
    font-size: 35px;
    position: absolute;
    left: 2vw;
    top: 3vh;
}
#logo{
    max-width: 25vw;
    position: absolute;
    left: 25vw;
}
nav{
    display: none;
    background-color: #EBEBEB;
    opacity: 94%;
    padding-top: 15vh;
    z-index: -1;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video{
    background-color: dimgray;
    min-height: 50vh;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.call{
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: 25px auto;
}
#glass{
    background-image: url(../Images/cupphone.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card{
    background-color: white;
    opacity: 76%;
    width: 100vw;
    height:fit-content;
    display: flex;
    justify-content: flex-start;
}
.cardimage{
    width: 35vw;
    margin-right: 5vw;
}
.carddescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#yellow{
    background-color: #ebcf1c;
    margin-top: 90px;
    margin-bottom: 50px;
    height: fit-content;
}
#red{
    background-color: #b4002f;
    margin-top: 90px;
    margin-bottom: 50px;
    height: fit-content;
    color: white;
}
#orange{
    background-color: #f66627;
    margin-top: 100px;
    margin-bottom: 50px;
    height: fit-content;
}
.helpme{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -60px;
}
.helpme img{
    max-width: 50vw;
}
#kongressen{
    max-height: 55vh;
    position: relative;
    top: -20px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.description h3{
    margin: 20px;
}
#contactus{
    background-image: url(../Images/contactbgphone.png);
    background-position: center;
    background-size: cover;
    max-width: 100vw;
 }
.headercontact {
    font-size: 21px;
    margin-bottom: 1vh;
}
.articlecontact {
    margin: 8vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#name {
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    width: 100%;
}
#email{
    margin-bottom: 0.5vh;
    margin-bottom: 2vh;
    width: 100%;
}
#message {
    margin-bottom: 0.5vh;
    margin-bottom: 2vh;
}
#buttonsend{
    background-color: #F66627;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 2.5vh;
}
.hero{
    background-image: url(../Images/triangles.png);
    width: 100vw;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 10px;
}
.hero img{
    max-width: 25vw;
}
.branding{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.yportfolio{
    background-color: #ebcf1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.yportfolio img, .oportfolio img, .rportfolio img{
    margin-top: -10vh;
    max-width: 75vw;
}
.oportfolio{
    background-color:#f66627;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.rportfolio{
    background-color:#b4002f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.second{
    opacity: 86%;
}
button{
    background-color: #f66627;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    overflow: hidden;
 }
picture{
    width: 100vw;
}
 footer div{
     display: flex;
     justify-content: space-evenly;
 }
 #footer{
     color: white;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     position: absolute;
     bottom: 13vh;
 }
 @media screen and (min-width: 1000px){
     #adobe{
        max-width: 30vw;
    }
    #about{
        margin-top: 0;
    }
 }
 @media screen and (min-width: 800px){
    #logo{
        max-width: 10vw;
        position: absolute;
        left: 33vw;
    }
    .fa-ellipsis-vertical{
        top: 1vh;
        font-size: 25px;
    }
    #contactus{
        background-image: url(../Images/contactbgweb.png);
        width: 100vw;
    }
    #glass{
        background-image: url(../Images/cupweb.png);
        flex-direction: row;
        align-items: center;
        margin-bottom: 10vh;
    }
    .card{
        flex-direction: column;
        align-items:center;
        max-width: 25vw;
        height: fit-content;
        background-color: #b4002f;
        opacity: 100%;
    }
    .cardimage{
        width: 25vw;
        margin-bottom: 5vh;
        margin-right: 0;
    }
    .carddescription{
        margin-bottom: 5vh;
    }
    #yellow, #orange, #red{
        margin-top: 220px;
    }
    .helpme{
        top: -180px;
    }
    #about{
        margin-top: 25px;
    }
    .menu{
        max-width: 25vw;
    }
    .yportfolio, .oportfolio, .rportfolio{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 63vh;
    }
    .second{
        flex-direction: row-reverse;
    }
    .yportfolio img, .oportfolio img, .rportfolio img{
        max-width: unset;
        max-height: 75vh;
        margin-top: 0;
        opacity: 100%; /*??*/
    }
    #footer{
        font-size: 30px;
    }
    
 }